* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
.page_wrap {
    position: relative;
    background-image: url(./images/tim-marshall-bvuwsIUCksA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
}
.page_wrap:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.review_slider {
    position: relative;
}
.review_slider .review_item {
    position: relative;
    background: rgba(255, 255, 255,0.12);
    backdrop-filter: blur(2px);
    padding: 40px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.review_item .person-img-cont {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 32px;
}
.review_item .person-img-cont>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.person_img {
    height: 250px;
    width: 250px;
}
.review_item .person_name {
    font-family: "Fredoka", sans-serif;
    color: #eab758;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
}
.review_item .person_designation {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 16px;
}
.review_item .person_review {
    color: #ffffff;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.5;
}
.slider_btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -30px);
    left: 0;
    right: 0;
}
.slider_btn>button {
    position: absolute;
    background: transparent;
    border: 0;
    padding: 0;
}
.slider_btn .prev__btn {
    left: -30px;
}
.slider_btn .next__btn {
    right: -30pX;
}
.slider_btn>button>i :hover {
    color: rgba(255 255 255 / 30%);
}
@media screen and (max-width:425px) {
    .review_slider .review_item{
        padding: 20px;
        max-width: 80%;
        
    }
}
